<div style="widht:100%; background-color: #070a26; color: white; background-image: url('https://media.wired.com/photos/627da1085d49787abdf713b4/master/pass/Pakistani-Gamers-Want-a-Seat-at-the-Table-Culture-shutterstock_1949862841.jpg'); background-size:cover; font-family: helvetica, verdana, arial, sans-serif;">
<div class="container d-flex align-items-center justify-content-center" style='height: 100vh;'>
  <div style='border: 1px solid white; border-radius: 20px; background-color: rgb(0,0,0,0.5); backdrop-filter: blur(5px)'>
    <div style='padding: 70px; text-align: center'>
      <h1><b>Join Eternal</b></h1>
      <p>Sign Up now to start your journey with us.<p>
      <div>
        
      </div>
    </div>
  </div>
</div>

</div>
